.modal {
    width: 100vw;
    height: 100vh;
    background-color:rgba(244, 244, 244, 0.82);;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__window {
        padding: 20px;
        position: absolute;
        width: 100vw;
        height: 550px;
        background-color:#FFFAFA;
    
    }
}

.buttn-close{
    top: 55px;
    right: 65px;
    width: 60px;
    height: 40px;
    border-radius: 16px;
    background-color: #274C5B;
    color: white;
    position: absolute;
}

.products__rating-modal {
    position: absolute;
    padding-top: 15px;
    left: 20px;
    bottom: 150px;

}

