$primary-color:#274C5B;
$green-color:#7EB693;
$yellow-color:#EFD372;
$light-color:#FAFAFA;
$grey-color:#D4D4D4;
$gainsboro-color: #E0E0E0;
$white-color:#525C60;
$font-roboto: 'Roboto', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-yellowtail: 'Yellowtail', cursive;

